

header {
  display: flex;
  justify-content: space-between;
  
}
h1{
  color:#1B4965 ;
  float:center;
}
article img{
  float: right;
}
.hero{
  background-image: url(https://images.unsplash.com/photo-1599622509902-bf8069e4f147?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHdoaXRlJTIwd2F0ZXIlMjByYWZ0aW5nfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  padding: 48px;
  color: #1B4965;
}
p{
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: #CAE9FF;
}
h2 {
    text-decoration: none;
    color:#1B4965;
}
.logo {
    display:right;
    
}
.logo img {
    height: 10px;
}
header li {
    display: inline-block;
    }
  header ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 85px;
    font-size: larger;
  }
  header ul li a:hover{
    background-color: #5FA8D3;
  }
  
  header{
    background-color: #1B4965;
    height: 225px;
     }
 .hero img {
        display: block;
        width: 20%;
        height:auto;
      
        
     }
  
     section img{

      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
      float: left;
      margin: 10px 20px;
      width: 350px;
      height:auto;
     }
     section{
      display: flex;
     }
     section img:hover{
      border: #4caae4;
      transform: rotate(-3deg);
     }
     footer img{
      display: inline;
      width: 10%;
      float: right;
     }
     footer{
      float: center;
      background-color: #5FA8D3;
      width: 100%;
      display:inline-flex;
      color: #b6e0fa;
     }
     legend,p{
      color:#1B4965 ;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
     }

     label{
      color: rgb(51, 51, 51);
      text-align: right;
      font-weight: bold;
     }
     button {
      margin: 0rem;
      background-color: #5FA8D3;
      color:#1B4965;
      border: none;
      border-radius: .1rem;
      padding:.50rem;
      font-size:1.2rem;
      float: right;
  }
  button:hover{
      background-color:hsl(166, 26%, 77%);
  }
  section{
    background-color: azure;
    float: right;
    padding: 10px;
    border: 0cap;
  }
     

  




