@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{width: 150px;
padding: 0;
margin: 0;
box-sizing: border-box;
} 

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color:#333;
    background: #fff;
  }
  header{
    margin: 0;
    width: 650px;
    display: center;
    color:#1B4965 ;
  }
  h1{
    margin: 1em;
    font-size: 1.5em;
    color:#1B4965;
    text-align:center;

  }
  form{
    width:650px;
    margin:0 auto;
    padding:1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color:#eee;
    display: center;

  }
  fieldset {
    display:center;
    grid-gap:.5rem;
    margin:1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  
label, input, button, select,   textarea{
    font-family: 'Times New Roman', Times, serif;
}
label{
    text-align: center;
    padding-right: 1rem;

}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: #5FA8D3;
    color:#1B4965;
    border: none;
    border-radius: .5rem;
    padding:.75rem;
    font-size:1.2rem;
}
button:hover{
    background-color:#36ae90;
}

.form-item{
    display:grid;
    align-items: center;

}

p{
    background-color: #777;
    display:center;
    padding: 05px;
}
input{
    padding: 10px;
}