
header {
  display: flex;
  justify-content: space-between;
  
}
h1{
  color:#f0f5f8;
/* Set the background color */
background-color: rgba(0, 0, 0, 0.3);; /* Red background color */

display: flex;
justify-content: center; /* Horizontally center-align */
align-items: center; /* Vertically center-align */

}
 article p{
  color: #f0f5f8;
  background-color: rgba(31, 56, 180, 0.3);
  padding:10px;
    font-size: 20px;

 }

article img{
  float: right;
  width: 20%;
  height: auto;
  
}
.hero{
  background-image: url(https://images.unsplash.com/photo-1543877087-ebf71fde2be1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  padding: 48px;
  color: #1B4965;
}
p{
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: #CAE9FF;
}
h2 {
    text-decoration: none;
    color:#1B4965;
}
.logo {
    display:inline;
    
}
.logo img {
    height: 10px;
}
header li {
    display: inline-block;
    }
  header ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 85px;
    font-size: larger;
  }
  header ul li a:hover{
    background-color: #5FA8D3;
  }
  
  header{
    background-color: #1B4965;
    height: 225px;
     }
     section img{

      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
      float: left;
      margin: 10px 20px;
      width: 350px;
      height:auto;
     }
     section{
      display: flex;
     }
     section img:hover{
      border: #1B4965;
      transform: rotate(-3deg);
     }
     footer img{
      display: inline;
      width: 3%;
      float: right;
     }
     footer{
      float: right;
      background-color: #5FA8D3;
      width: 100%;
     }
map {
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 800px;
  max-height: 600px;
}