
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
header {
  display: flex;
  justify-content: space-between;
  
}
h1{
  color:#ffffff ;
}
article img{
  float: right;
}
.hero{
  background-image: url(https://images.unsplash.com/photo-1599622509902-bf8069e4f147?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHdoaXRlJTIwd2F0ZXIlMjByYWZ0aW5nfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  padding: 48px;
  color: #1B4965;
}
p{
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: #CAE9FF;
    max-width: 960px;
    padding: 20px;
   font-family: 'Times New Roman', Times, serif;
    
}
h2 {
    text-decoration: none;
    color:#1B4965;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var('Times New Roman', Times, serif);
  color: var(red blue yellow)
}
.logo {
  display: inline-block; /* Or any other suitable display value */
 
    
}
.logo img {
    height: 10px;
}
header li {
    display: inline-block;
    }
  header ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 85px;
    font-size: larger;
  }
  header ul li a:hover{
    background-color: #5FA8D3;
  }
  
  header{
    background-color: #1B4965;
    height: 225px;
    padding: 20px;
    color: white;
    
     }
 .hero img {
        display: block;
        width: 20%;
        height:auto;  
     }
  nav{ background-color: var(#1B4965);
    font-size:1.2rem;
    display: flex;
    
  }
  nav a {
    display: block;
    color: var(#1B4965);
    text-decoration: none;
    padding: 1rem;
  }
  nav a:link, nav a:visited¨{
    color: var(#ADD8E6);
  }
  nav a:hover{
    color: var(#1B4965);
    background-color:var(#5FA8D3);
  }
     section img{

      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.19);
      float: left;
      margin: 10px 20px;
      width: 350px;
      height:auto;
     }
     section{
      display: flex;
     }
     section img:hover{
      border: #1B4965;
      transform: rotate(-3deg);
     }
     footer img{
      display: inline;
      width: 3%;
      float: right;
     }
     footer{
      float: right;
      background-color: #5FA8D3;
      width: 100%;
     }
   